{% extends 'base.html' %}

{% block cambio %}
<div>
    <form action="/app/buscar" method="GET">

        <input type="text" name="nombre">
        <input type="submit" value="Buscar">
    </form>
    <p>
        <a href="{% url 'CursoCreate' %}">Crear</a>
    </p>

</div>
{% for curso in object_list %}
    <h2 style="color:#3333ff">{{curso.nombre}}</h2>
    <p class="lead mb-0" style="color:#ff3333">
        número de camada {{curso.camada}}
    </p>
<p>
    <a href="{% url 'CursoDetail' curso.id %}">Detalles</a>
</p>
<p>
        <a href="{% url 'CursoEditar' curso.id %}">Editar</a>
</p>
<p>
        <a href="{% url 'CursoEliminar' curso.id %}">Eliminar</a>
</p>

    <hr>
{% endfor %}
{% endblock %}